*background: #1F1A17
*foreground: #D9D7D6

! Black
*color0: #1F1A17
*color8: #1F1A17

! Red
*color1: #DF5B61
*color9: #F16269

! Green
*color2: #78B892
*color10: #8CD7AA

! Yellow
*color3: #DE8F78
*color11:  #E9967E

! Blue
*color4: #6791C9
*color12: #79AAEB

! Magenta
*color5: #BC83E3
*color13: #C488EC

! Aqua
*color6: #A0DADF
*color14: #29BCBB

! Whites
*color7: #D9D7D6
*color15: ##E5E5E5

URxvt.background:       [95]#191A21

URxvt.intensityStyles:	true
URxvt.multichar_encoding: utf-8
URxvt.depth:		32
URxvt.font:	xft:Hack Nerd Font Mono:size=10:antialiasing=true, xft:PowerlineSymbols=Regular:pixelsize=9:encoding=utf-8, xft:Noto Sans CJK JP:style=Bold
URxvt.imFont: xft:Hack Nerd Font Mono:size=16, xft:PowerlineSymbols=Regular:pixelsize=9:encoding=utf-8, xft:Noto Sans CJ JP:style=Bold
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot
URxvt.imLocale:   ja_JP.UTF-8
URxvt.scrollBar:	false
URxvt.cursorColor:	white
Urxvt.skipBuiltinGlyphs: = false

!! Extensions
URxvt.perl-ext-common:	default,matcher,url-select,keyboard-select,font-size
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.colorUL:		#4682B4

!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! resize-font
!URxvt.keysym.Shift-Down:     resize-font:smaller
!URxvt.keysym.Shift-Up:      resize-font:bigger
!URxvt.keysym.Control-0:     resize-font:reset

URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

URxvt.keysym.Shift-Up:     font-size:increase
URxvt.keysym.Shift-Down:   font-size:decrease
URxvt.keysym.C-0:  font-size:reset
URxvt.font-size.step: 0
