//@theme "/home/denix/.local/share/rofi/themes/windows11-list-dark.rasi"
//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/home/denix/.local/share/rofi/themes/launchpad.rasi"
@theme "/home/denix/.local/share/rofi/themes/nord.rasi"
